
.arena ol {display: flex;
   width: 90%; margin: 2em 0; padding: 0; border: 3px solid green;}
.arena ol li {list-style: none; border: 2px dotted gray; min-width: 5%; margin: 1px;}
.arena ol li img {width: 200px; height: 50px;}
.arena ol li:nth-of-type(even) {padding-top: 60px; background: silver;}
.arena ol li:nth-of-type(even) img {opacity: 0.5;}

.arena ol {flex-direction: row;}
.arena ol + ol {flex-direction: column;}
