
@font-face {
	font-family: NSL;
	src: url("f/Nadyezhda SL One.ttf");
	font-feature-settings: "abvf", "abvm", "abvs", "afrc", "akhn", "blwf", "blwm", "blws", "c2pc", "c2sc", "calt", "case", "ccmp", "clig", "cjct", "cpsp", "cswh", "curs", "dflt", "dist", "dlig", "dnom", "expt", "falt", "fin2", "fin3", "fina", "frac", "fwid", "half", "haln", "halt", "hist", "hkna", "hlig", "hngl", "hojo", "hwid", "init", "isol", "ital", "jalt", "jp78", "jp83", "jp90", "jp04", "kern", "lfbd", "liga", "ljmo", "lnum", "locl", "mark", "med2", "medi", "mgrk", "mkmk", "mset", "nalt", "nlck", "nukt", "numr", "onum", "opbd", "ordn", "ornm", "palt", "pcap", "pnum", "pref", "pres", "pstf", "psts", "pwid", "qwid", "rand", "rkrf", "rlig", "rphf", "rtbd", "rtla", "ruby", "salt", "sinf", "size", "smcp", "smpl", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09", "ss10", "ss11", "ss12", "ss13", "ss14", "ss15", "ss16", "ss17", "ss18", "ss19", "ss20", "ss21", "ss22", "subs", "sups", "swsh", "titl", "tjmo", "tnam", "tnum", "trad", "twid", "unic", "valt", "vatu", "vert", "vhal", "vjmo", "vkna", "vkrn", "vpal", "vrt2", "zero";
}

.arena p {font: 2em NSL, cursive; white-space: pre;}

